.table{
    border-spacing:0;
    margin:1rem;
    background-color:darkgray;
}

.table-row:nth-child(even) {
    background-color:aliceblue;
}

.table-header {
    text-align: left;

}

.table-cell{
    padding: 8px;
}
input{
    text-align: left;
    width:50%;
    padding:7px 10px;
    margin:8px 0;
    box-sizing: border-box;
}
input[type='submit']{
    border: 2px black;
    background-color: cadetblue;
    color:white;
    padding:7px 10px;
    margin:5px 0;
    border-radius:4px;
    width:20%;

}
h2{
    text-align: center;
}

.container{
    border:5px black;
    
}
.form1{
    padding:50px;
}
body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .time{
    padding: 20px;
  }