{% extends 'layout.html' %}
{%block content%}
  <div class="container">
  <h2>Enter Employee Details</h2>
    <form method="POST" action="" class="form">
      <br>
      Employee Code<br><input type="text" name="ecode"/>
     <br>
      Employee Name<br><input type="text" name="ename"/>
      <br>
      Address<br><input type="text" name="address"/>
      <br>
      Phone No<br> <input type="text" name="phone"/>
      <br>
      Email ID<br><input type="email" name="email"/>
      <br><br>
      <input type="submit" value="submit"/>


    </form>
  </div>
{%endblock%}

